//COLORS
$white: #ffffff;
$black: #000000;
$grey: #ccc;
$rouge: #D71B1B;
$jaune: #FDF392;
$bleu_foncee: #1B515D;
$rouge_foncee: #7B5348;
$vert_foncee: #5A7C6E;
$couleur_logo: #4db1a8;

//MESURES

$dropdownMmenu-marginTop: 1rem;
$logo_height: 5rem;
$mobile-dropdownMmenu-marginTop: -0.5rem;
$mobile-nav-marginTop: calc(-1 *($logo_height - 1rem ));



html {
  font-size: 16px; // Makes 1rem equal to 16px
}

body {
  font-family: Lato, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: $white;
  color: $black;
  padding: 0;

  img.logo {
    height: $logo_height;
  }
}


nav {
  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;

    li.nav-item {
      margin: .5rem 0;
      border-left: 0.1rem $black solid;
      &:nth-child(1) {
        border-left: none;
      }

      a {
        text-decoration: none;
        font-weight: bold;
        margin: 0 2rem;
      }
      a:hover, a.active{
        text-decoration: underline;
        text-underline-offset: 0.25rem;
      }
    }
    a.dropdown-item{
      background-color: $white !important;
      width: 80%;
    }
    ul.dropdown-menu.show{
      margin-top: $dropdownMmenu-marginTop;
    }
  }
}

#main-content {
  padding: 20px;
  min-height: 450px;
}

// FOR ALL PAGES -----------------
h1.title{
  text-transform: uppercase;
}
h2{
  margin: 1em 0;
}
p, li{
  font-size: 1.5rem;
}
.bold {
  font-weight: bold;
}

//PAGE : ACCUEIL -----------------
div#page_accueil{
  img{
    max-width: 100%;
  }
  .accueil-color_green{
    color: $vert_foncee;
  }
  #frugacite-accronym, #frugacite-definition{
    cursor: default;
  }
  #frugacite-accronym{
    margin: 0 1px;
    span{
      margin: 0 -1px;
      &:hover{
        text-decoration: underline;
        text-underline-offset: 0.25rem;
      }
    }
  }
  #frugacite-definition{
    span:hover{
      text-decoration: underline;
      text-underline-offset: 0.25rem;
    }
  }
}

// FOOTER -----------------
footer {
  // position: fixed;
  bottom: 0;
  width: 100%;

  section{
    margin-bottom: 3rem;
    
    a{
      text-decoration: none;
      color: $grey;
    }
    
    img.logo{
      height: calc($logo_height - 2rem);
    }
  
    img.partner{
      height: $logo_height;
      width: auto;

    }
  }
}

@media (max-width: 990px) {
    nav {
      margin-top: $mobile-nav-marginTop;
        div.container, li {
            border: none !important;
        }
        ul.dropdown-menu{
          margin-left: 2rem;
          &.show{
            margin-top: $mobile-dropdownMmenu-marginTop !important;
          }
        }
        
    }
  }