@charset "UTF-8";
/*AREP DESIGN VARIBLES*/
h1 {
  font-family: "lato regular", sans-serif;
  font-size: 32px;
  text-transform: uppercase;
}

h2 {
  font-family: "lato regular", sans-serif;
  font-size: 28px;
}

h3 {
  font-family: "lato regular", sans-serif;
  font-size: 24px;
}

/*PROJECT VARIBLES*/
p, i, b, li, label {
  font-family: "lato regular", sans-serif;
  font-size: 17px;
}

html {
  font-family: "lato regular", sans-serif;
  font-size: 17px;
}

body {
  font-family: "lato regular", sans-serif;
  font-size: 17px;
  margin: 0 9em;
  padding: 0 0;
  box-sizing: border-box;
}

header {
  background: #ffffff;
  color: #212121;
  padding: 0;
}
header img.logo {
  height: 3rem;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}
nav ul li.nav-item {
  margin: 0.5rem 0;
  border-left: 0.1rem #212121 solid;
}
nav ul li.nav-item:nth-child(1) {
  border-left: none;
}
nav ul li.nav-item a {
  text-decoration: none;
  font-weight: bold;
  margin: 0 2rem;
}
nav ul li.nav-item a:hover, nav ul li.nav-item a.active {
  text-decoration: underline;
  text-underline-offset: 0.25rem;
}
nav ul a.dropdown-item {
  background-color: #ffffff !important;
  width: 80%;
}
nav ul ul.dropdown-menu.show {
  margin-top: 1rem;
}

#main-content {
  min-height: 450px;
}

.title {
  text-transform: uppercase;
}

h1, h2, h3, h4 {
  margin-bottom: 1rem;
}

h2, h3 {
  margin-top: 2rem;
}

.bold {
  font-weight: bold;
}

.accueil-color_green {
  color: #0889a6;
}

a.text-link {
  color: #212121;
  cursor: pointer;
}
a.text-link.title-green {
  color: #0889a6;
}
a.text-link:hover {
  font-weight: bold;
}

.marginTop {
  margin-top: 1.5rem;
}

.humberguer_button_container {
  display: inline-block;
  cursor: pointer;
  width: 100%;
}
.humberguer_button_container .bar1, .humberguer_button_container .bar2, .humberguer_button_container .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}
.humberguer_button_container.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}
.humberguer_button_container.change .bar2 {
  opacity: 0;
}
.humberguer_button_container.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

.map_slider {
  display: none;
}
.map_slider.show {
  display: block;
}
.map_slider .map-container {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.map_slider .map-right-button {
  position: absolute;
  z-index: 11;
  top: 0;
  right: 0;
  width: 2.5em;
  height: 2.5em;
  background-color: #9d9d9c; /* Coral color */
  pointer-events: auto !important;
  align-items: center;
  color: white;
  cursor: pointer;
  border: 1px solid #9d9d9c;
  border-radius: 50%;
  transition: background-color 0.5s ease;
}
.map_slider .map-right-button p {
  font-size: 0.6em;
  padding-left: 0.3rem;
}
.map_slider .map-right-button span {
  display: block;
  text-align: center;
  font-size: 1.7rem;
}
.map_slider .map-right-button span::after {
  content: "✚";
  white-space: pre;
  display: inline-block; /* Important to allow transform rotation */
  transform: rotate(180deg);
}
.map_slider .map-right-button span.show::after {
  white-space: pre;
  transition: transform 0.3s ease-in-out;
  transform: rotate(45deg);
}
.map_slider .map-right-button:hover {
  background-color: #212121; /* Coral color */
}
.map_slider .map-bottom-div {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 95%;
  min-height: 15%;
  height: -moz-fit-content;
  height: fit-content;
  background-color: rgba(229, 229, 229, 0.95); /* Semi-transparent black */
  color: #1d1d1b;
  display: none; /* Initially hidden */
  justify-content: center;
  align-items: center;
  box-shadow: 0 -10px 10px -5px rgba(157, 157, 156, 0.5);
}
.map_slider .map-bottom-div p {
  font-size: 0.8em;
  max-height: 100%;
  text-align: left;
  line-height: 1.2em;
  cursor: default;
  padding: 1em;
}
.map_slider .map-bottom-div p span.info_credits {
  display: inline-block;
  font-size: 0.8em;
  font-style: italic;
  margin-top: 0.5rem;
}
.map_slider .map-bottom-div.show {
  display: flex; /* Show on hover */
}
.map_slider .map-sliding-div {
  position: absolute;
  top: 0;
  right: -100%; /* Start off-screen from the right */
  width: 100%;
  height: 100%;
  border-radius: 1em 0 0 1em;
  background-color: rgba(229, 229, 229, 0.95); /* 95% transparent black */
  z-index: 10;
  transition: right 0.5s ease; /* Animate the 'right' property */
}
.map_slider .map-sliding-div.show {
  right: -25%;
}

.mapSliderContainer {
  width: 95%;
  margin: 1em auto;
}
.mapSliderContainer td.slider-nav {
  cursor: pointer;
  text-align: center;
  z-index: 11;
  width: 1em;
  max-width: 1.5em;
  color: #e15051;
  font-size: 5rem;
}
.mapSliderContainer td.slider-nav.disabled {
  cursor: default;
  color: #9d9d9c;
}
.mapSliderContainer td.slider-nav#prevBtn, .mapSliderContainer td.slider-nav.prevBtn {
  border-radius: 1em 0 0 1em;
}
.mapSliderContainer td.slider-nav#prevBtn span::after, .mapSliderContainer td.slider-nav.prevBtn span::after {
  content: "➧";
  rotate: 180deg;
  display: inline-block;
}
.mapSliderContainer td.slider-nav#prevBtn:hover:not(.disabled), .mapSliderContainer td.slider-nav.prevBtn:hover:not(.disabled) {
  padding-right: 0.2em;
}
.mapSliderContainer td.slider-nav#nextBtn, .mapSliderContainer td.slider-nav.nextBtn {
  border-radius: 0 1em 1em 0;
}
.mapSliderContainer td.slider-nav#nextBtn span::after, .mapSliderContainer td.slider-nav.nextBtn span::after {
  content: "➧";
}
.mapSliderContainer td.slider-nav#nextBtn:hover:not(.disabled), .mapSliderContainer td.slider-nav.nextBtn:hover:not(.disabled) {
  padding-left: 0.2em;
}
.mapSliderContainer td.slider-content {
  padding-left: 5%;
}
.mapSliderContainer td .slider-navigation {
  text-align: center;
  cursor: pointer;
}
.mapSliderContainer td .slider-navigation span.disabled {
  cursor: default;
  color: #9d9d9c;
}

div#page_accueil img {
  max-width: 100%;
  margin: 2rem;
}
div#page_accueil img#timeline-legend {
  margin-top: 2em;
  width: 80%;
}
div#page_accueil #frugacite-accronym, div#page_accueil #frugacite-definition {
  cursor: default;
}
div#page_accueil #frugacite-accronym {
  margin: 0 1px;
}
div#page_accueil #frugacite-accronym span {
  margin: 0 -1px;
}
div#page_accueil #frugacite-accronym span:hover {
  text-decoration: underline;
  text-underline-offset: 0.25rem;
}
div#page_accueil #frugacite-definition span:hover {
  text-decoration: underline;
  text-underline-offset: 0.25rem;
}
div#page_accueil .bg_redFont {
  background-color: rgba(225, 80, 81, 0.2);
  padding: 1rem;
  height: -moz-fit-content !important;
  height: fit-content !important;
  border-radius: 0.3rem;
}

div#page_equipe ul > li > ul > li {
  list-style-type: circle;
}
div#page_equipe ul > li > ul > li ul > li {
  list-style-type: square;
}
div#page_equipe .partner {
  height: 6rem;
  width: auto;
}
div#page_equipe .cm {
  height: 3rem;
  margin-top: 2rem;
}
div#page_equipe .idf {
  height: 3rem;
  margin-top: 2rem;
}
div#page_equipe .team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 3rem;
  margin: 0 auto;
}
div#page_equipe .team-grid .card {
  background: #f8f8f8;
  display: flex;
  flex-direction: column;
  border-radius: 0.3rem;
  overflow: hidden;
  border: 1px solid #9d9d9c;
  position: relative;
}
div#page_equipe .team-grid .card .card-image {
  background: #9d9d9c;
  width: 100%;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
div#page_equipe .team-grid .card .card-image img {
  width: 100%;
  height: auto;
}
div#page_equipe .team-grid .card .card-image img.resizing {
  width: auto !important;
  height: 100% !important;
}
div#page_equipe .team-grid .card .card-image img.default {
  width: 100%;
  height: 100%;
}
div#page_equipe .team-grid .card .card-name {
  background: #1d1d1b;
  color: #ffffff;
  padding: 1rem;
  text-align: center;
}
div#page_equipe .team-grid .card .card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(29, 29, 27, 0.8);
  color: #ffffff;
  padding: 0 1rem;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
div#page_equipe .team-grid .card .card-overlay p {
  font-family: "lato regular", sans-serif;
  font-size: 1em;
  max-height: 90%;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #ffffff rgba(29, 29, 27, 0.8);
}
div#page_equipe .team-grid .card:hover .card-overlay {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

div#page_methodologie_resultats li {
  margin-top: 0.5em;
}
div#page_methodologie_resultats ul > li > ul > li {
  list-style-type: circle;
}
div#page_methodologie_resultats ul > li > ul > li ul > li {
  list-style-type: square;
}
div#page_methodologie_resultats img {
  max-width: 80%;
  margin: 0 auto;
}
div#page_methodologie_resultats img.recenter {
  display: block;
  margin: 2rem auto;
}
div#page_methodologie_resultats .card-header {
  cursor: pointer;
}
div#page_methodologie_resultats .btn-link {
  text-decoration: none;
  color: #1d1d1b;
  width: 100%;
  text-align: left;
}
div#page_methodologie_resultats .btn-link h5 {
  margin: 0;
  float: left;
  width: 95%;
}
div#page_methodologie_resultats .btn-link span {
  width: 5%;
  text-align: right;
  transition: transform 0.3s ease;
}
div#page_methodologie_resultats .btn-link span::after {
  content: "+";
}
div#page_methodologie_resultats .btn-link span.hide::after {
  content: "-";
}

div#page_publication_donnees h1, div#page_publication_donnees h2, div#page_publication_donnees h3 {
  margin-top: 2rem !important;
}
div#page_publication_donnees .card-header {
  cursor: pointer;
}
div#page_publication_donnees .btn-link {
  text-decoration: none;
  color: #1d1d1b;
  width: 100%;
  text-align: left;
}
div#page_publication_donnees .btn-link h5 {
  margin: 0;
  float: left;
  width: 95%;
}
div#page_publication_donnees .btn-link span {
  width: 5%;
  text-align: right;
  transition: transform 0.3s ease;
}
div#page_publication_donnees .btn-link span::after {
  content: "+";
}
div#page_publication_donnees .btn-link span.hide::after {
  content: "-";
}

div#page_integrer img {
  max-width: 80%;
}
div#page_integrer li {
  margin-top: 1em;
}
div#page_integrer div.note {
  padding: 0.5em;
  background-color: rgba(225, 80, 81, 0.4);
  border-radius: 0.2em;
  margin-bottom: 1em;
}

div#page_cons_methodo img {
  max-width: 80%;
  margin: 2rem auto;
}
div#page_cons_methodo img.recenter {
  display: block;
  margin: 2rem auto;
}
div#page_cons_methodo .note {
  padding: 0.5em;
  background-color: rgba(225, 80, 81, 0.4);
  border-radius: 0.2em;
  margin: 1em;
}
div#page_cons_methodo .card-header {
  cursor: pointer;
}
div#page_cons_methodo .btn-link {
  text-decoration: none;
  color: #1d1d1b;
  width: 100%;
  text-align: left;
}
div#page_cons_methodo .btn-link h5 {
  margin: 0;
  float: left;
  width: 95%;
}
div#page_cons_methodo .btn-link span {
  width: 5%;
  text-align: right;
  transition: transform 0.3s ease;
}
div#page_cons_methodo .btn-link span::after {
  content: "+";
}
div#page_cons_methodo .btn-link span.hide::after {
  content: "-";
}

div#page_levier_phase_travail li {
  margin-top: 0.5em;
}
div#page_levier_phase_travail ul > li > ul > li {
  list-style-type: circle;
}
div#page_levier_phase_travail ul > li > ul > li ul > li {
  list-style-type: square;
}

div#page_ressources ul > li > ul > li {
  list-style-type: circle;
}
div#page_ressources ul > li > ul > li ul > li {
  list-style-type: square;
}
div#page_ressources .card-header {
  cursor: pointer;
}
div#page_ressources .btn-link {
  text-decoration: none;
  color: #1d1d1b;
  width: 100%;
  text-align: left;
}
div#page_ressources .btn-link h5 {
  margin: 0;
  float: left;
  width: 95%;
}
div#page_ressources .btn-link span {
  width: 5%;
  text-align: right;
  transition: transform 0.3s ease;
}
div#page_ressources .btn-link span::after {
  content: "+";
}
div#page_ressources .btn-link span.hide::after {
  content: "-";
}

div#page_contact form {
  padding: 2rem 0;
}
div#page_contact form label {
  font-size: 1.125rem;
  margin-top: 1.5rem;
}
div#page_contact form input, div#page_contact form textarea {
  border: none;
  border-radius: 0;
  padding: 0;
  border-bottom: 1px solid #212121;
}
div#page_contact form button[type=submit] {
  margin-top: 2rem;
  border: none;
  border-radius: 0;
  padding: 0;
  border-bottom: 1px solid #212121;
}

footer {
  bottom: 0;
  width: 100%;
}
footer section {
  margin-bottom: 1rem;
}
footer section:nth-child(1), footer section:nth-child(2) {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
footer section a {
  text-decoration: none;
  color: #9d9d9c;
  font-size: 0.8rem;
}
footer section img.logo {
  height: 1.8rem;
}
footer section .partner {
  height: 3rem;
  width: auto;
}
footer section .image-empty-container {
  width: 3rem;
  height: 3rem;
}
footer section .cm {
  height: 1.5rem;
  margin-top: 1rem;
}
footer section .thema {
  height: 1.5rem;
  margin-top: 1rem;
}
footer section .univ {
  height: 1.5rem;
  margin-top: 1rem;
}
footer section .sorbonne {
  height: 2.5rem;
}
footer section .image-container {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.5rem;
  background-color: #4db1a8;
  -webkit-mask: url("../images/footer/Ladyss-logo-white.webp") no-repeat center;
  -webkit-mask-size: contain;
  -webkit-mask: url("../images/footer/Ladyss-logo-white.webp") no-repeat center;
          mask: url("../images/footer/Ladyss-logo-white.webp") no-repeat center;
  mask-size: contain;
}

@media (max-width: 990px) {
  .logo {
    height: 1.9rem !important;
  }
  nav {
    margin-top: 0rem;
  }
  nav div.container, nav li {
    border: none !important;
  }
  nav ul.dropdown-menu {
    margin-left: 2rem;
  }
  nav ul.dropdown-menu.show {
    margin-top: -0.5rem !important;
  }
  .empty-partner {
    display: none;
  }
}
@media (max-width: 430px) {
  body {
    margin: 1rem !important;
    box-sizing: border-box;
  }
  .logo.logo_header_frugacite {
    height: 1.9rem;
  }
  nav {
    margin-top: 0rem;
  }
  nav div.container, nav li {
    border: none !important;
  }
  nav ul.dropdown-menu {
    margin-left: 2rem;
  }
  nav ul.dropdown-menu.show {
    margin-top: -0.5rem !important;
  }
  #main-content {
    width: 100%;
  }
  .empty-partner {
    display: none;
  }
}