/*AREP DESIGN VARIBLES*/

//TYPOGRAPHY
$arep-font-family: "lato regular", sans-serif;
//$text-font-size: 23px;
$text-font-size: 17px;

//COLORS
$white: #ffffff;
$dark_grey: #212121;
$brigth_red: #D31216;
$dark_red: #88212c;
$coral: #e15051;
$pink: #f9cfd3;
$dark_green: #5a7c6e;
$light_green: #b6bd90;
$dark_blue: #1a515d;
$light_blue: #528190;
$dark_brown: #715148;
$light_brown: #9e7266;
$yellow: #ffee90;
$ligth_yellow: #fdf5b6;
$black: #1d1d1b;
$light_black: #3c3c3b;
$grey: #9d9d9c;
$light_grey: #f8f8f8;

//OPACITY
$dark_opacity: 100%;
$light_opacity: 20%;

//TITLE FONT
h1{
  font-family: $arep-font-family;
  // font-size: 99px; // To much big ?
  font-size: 32px;
  text-transform: uppercase;
}
h2{
  font-family: $arep-font-family;
  // font-size: 39px; // To much big ?
  font-size: 28px;
}
h3{
  font-family: $arep-font-family;
  // font-size: 35px; //  To much big ?
  font-size: 24px;
}


/*PROJECT VARIBLES*/

p,i,b,li,label{
  // $project-text-font-size : calc($text-font-size - 6px); //17px
  font-family: $arep-font-family;
  font-size: $text-font-size; // Makes 1rem
}

//COLORS
$couleur_logo: #4db1a8;

//MESURES

$dropdownMmenu-marginTop: 1rem;
$logo_height: 3rem;
$logo_partener_height: 3rem;
$logo_arep_footer_height: 1.8rem;
$mobile-dropdownMmenu-marginTop: -0.5rem;
$mobile-nav-marginTop: calc(-1 *($logo_height - 1rem ));



html {
  font-family: $arep-font-family;
  font-size: $text-font-size; // Makes 1rem
}

body {
  font-family: $arep-font-family;
  font-size: $text-font-size; // Makes 1rem
  margin: 0 9em !important;
  padding: 0 0;
  box-sizing: border-box;
}

header {
  background: $white;
  color: $dark_grey;
  padding: 0;

  img.logo {
    height: $logo_height;
  }
}


nav {
  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;

    li.nav-item {
      margin: .5rem 0;
      border-left: 0.1rem $dark_grey solid;
      &:nth-child(1) {
        border-left: none;
      }

      a {
        text-decoration: none;
        font-weight: bold;
        margin: 0 2rem;
      }
      a:hover, a.active{
        text-decoration: underline;
        text-underline-offset: 0.25rem;
      }
    }
    a.dropdown-item{
      background-color: $white !important;
      width: 80%;
    }
    ul.dropdown-menu.show{
      margin-top: $dropdownMmenu-marginTop;
    }
  }
}

#main-content {
  min-height: 450px;
}

// FOR ALL PAGES -----------------
.title{
  text-transform: uppercase;
  // font-weight: 700;
}

h1,h2,h3,h4{
  margin-bottom: 1rem;
}

h2,h3{
  margin-top: 2rem;
}

.bold {
  font-weight: bold;
}

.accueil-color_green{
  color: $dark_blue;
}

a.text-link{
  color: $dark_grey;
  cursor: pointer;
  &.title-green{
    color: $dark_blue;
  }
  &:hover{
    font-weight: bold;
  }
}

.marginTop{
  margin-top: 1.5rem;
}

//ELEMENT : MAP SLIDER -----------------
.map_slider{
  display: none;
  &.show{
    display: block;
  }

  .map-container {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  
  .map-right-button {
    
    position: absolute;
    z-index: 11;
    top: 0;
    right: 20%;
    width: 2.5em;
    height: 2.5em;
    background-color: $dark_blue; /* Coral color */
    pointer-events: auto !important;
    align-items: center;
    color: white;
    cursor: pointer;
    border: 1px solid $dark_grey;
    border-radius: 50%;
    transition: background-color 0.5s ease;
    p{
      font-size: 0.6em;
      padding-left: 0.3rem;
    }
    span{
      display: block;
      text-align: center;
      font-size: 1.7rem;
      &::after {
        content: "\271A";
        white-space: pre; 
        display: inline-block;     /* Important to allow transform rotation */
        transform: rotate(180deg);
      }
      &.show::after{
        // content: "\27A7";
        white-space: pre;
        transition: transform 0.3s ease-in-out;
        transform: rotate(45deg);

      }
    }
  }
  
  .map-right-button:hover {
    background-color: $dark_green; /* Coral color */
  }
  
  .map-bottom-div {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background-color: rgba(#e5e5e5, 0.95); /* Semi-transparent black */
    color: $black;
    display: none; /* Initially hidden */
    justify-content: center;
    align-items: center;
    box-shadow: 0 -10px 10px -5px rgba($grey, 0.5);
    p{
      font-size: 0.85em;
      max-height: 100%;
      text-align: left;
      line-height: 1em;
      cursor: default;
      padding: 1em !important;
    }
    
    &.show{
      display: flex; /* Show on hover */
    }
  }
  
  .map-sliding-div {
    position: absolute;
    top: 0;
    right: -90%; /* Start off-screen from the right */
    width: 90%;
    height: 100%;
    border-radius: 1em 0 0 1em;
    // box-shadow: -10px 0 10px -5px rgba($grey, 0.5);
    background-color: rgba(#e5e5e5, 0.95); /* 95% transparent black */
    z-index: 10;
    transition: right 0.5s ease; /* Animate the 'right' property */

    &.show{
      right: 2.5em;
    }
  }
}

.mapSliderContainer{
  width: 80%;
  margin: 1em auto;
  .slider-navigation {
    text-align: center;
    margin-top: 0.1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    span{
      font-size: 1rem;
      &.disabled{
        cursor: default;
        opacity: 0.5;
      }
      &.prevBtn:not(.disabled):hover{
        font-weight: bold;
      }
      &.nextBtn:not(.disabled):hover{
        font-weight: bold;
      }
    }
  }
}

//PAGE : ACCUEIL -----------------
div#page_accueil{
  img{
    max-width: 100%;
    margin: 2rem;
    &#timeline-legend{
      margin-top: 2em;
      width: 80%;
    }
  }
  

  #frugacite-accronym, #frugacite-definition{
    cursor: default;
  }
  #frugacite-accronym{
    margin: 0 1px;
    span{
      margin: 0 -1px;
      &:hover{
        text-decoration: underline;
        text-underline-offset: 0.25rem;
      }
    }
  }
  #frugacite-definition{
    span:hover{
      text-decoration: underline;
      text-underline-offset: 0.25rem;
    }
  }
  .bg_redFont{
    background-color: rgba($coral, $light_opacity);
    padding: 1rem;
    height: fit-content !important;
    border-radius: 0.3rem;
  }
}

//PAGE : EQUIPE -----------------
div#page_equipe{
  $equipe_logo_height : $logo_partener_height + 3rem;
  ul>li>ul>li{
    list-style-type: square;
  }
  .partner{
    height: $equipe_logo_height;
    width: auto;

  }
  .cm{
    height: calc($equipe_logo_height - 3rem);
    margin-top: 2rem;
  }  
  
  .idf{
    height: calc($equipe_logo_height - 3rem);
    margin-top: 2rem;
  }

  .team-grid {
    $card_height:20rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax($card_height, 1fr));
    gap: 3rem;
    margin: 0 auto;
  
    .card {
      background: $light_grey;
      display: flex;
      flex-direction: column;
      border-radius: 0.3rem;
      overflow: hidden;
      border: 1px solid $grey;
      position: relative;
  
      .card-image {
        background: $grey;
        width: 100%;
        height: $card_height;
        display: flex;
        align-items: center;   // vertically center
        justify-content: center;
        img{
          width: 100%;
          height: auto;
          &.resizing{
            width: auto !important;
            height: 100% !important;
          }
          &.default{
            width: 100%;
            height: 100%;
          }
        }
      }
  
      .card-name {
        background: $black;
        color: $white;
        padding: 1rem;
        text-align: center;
      }
  
      .card-overlay {
        position: absolute;
        top: 0;
        left: 0; 
        right: 0; 
        bottom: 0;
        background: rgba($black, 0.8);
        color: $white;
        padding: 0 1rem;
        opacity: 0;
        visibility: hidden;
        transform: translateY(10px);
        transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        p{
          font-family: $arep-font-family;
          font-size: 1em;
          max-height: 90%;
          overflow-y: auto;
          scrollbar-width: thin;
          scrollbar-color: $white rgba($black, 0.8);
        }
      }
  
      &:hover {
        .card-overlay {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
        }
      }
    }
  }
  

}

//PAGE : THESE -----------------
div#page_these{
}

//PAGE : methodo -----------------
div#page_methodologie_resultats{
  img{
    max-width: 90%;
    margin: 0 auto;
  }
  .card-header {
    cursor: pointer;
  }
  
  .btn-link {
    text-decoration: none;
    color: $black;
    width: 100%;
    text-align: left;
    h5 {
      margin: 0;
      float: left;
      width: 95%;
    }
    span {
      width: 5%;
      text-align: right;
      transition: transform 0.3s ease;
      &::after{
        content: "+";
      }
      &.hide::after{
        content: "-";
      }
    }
  }
  
}

//PAGE : PUBLICATION -----------------
div#page_publication_donnees{
  h1,h2,h3{
    margin-top: 2rem !important;
  }
  .card-header {
    cursor: pointer;
  }
  
  .btn-link {
    text-decoration: none;
    color: $black;
    width: 100%;
    text-align: left;
    h5 {
      margin: 0;
      float: left;
      width: 95%;
    }
    span {
      width: 5%;
      text-align: right;
      transition: transform 0.3s ease;
      &::after{
        content: "+";
      }
      &.hide::after{
        content: "-";
      }
    }
  }
}

//PAGE : intigrer -----------------
div#page_integrer{
  img{
    max-width: 80%;
  }
  li{
    margin-top: 1em;
  }
  ol>li>ul>li{
    list-style-type: disc;
  }
  ul>li>ul>li{
    list-style-type: circle;
    ul>li{
      list-style-type: square;
    }
  }
  
  div.note{
    padding: .5em;
    background-color: rgba($coral, 0.4);
    border-radius: .2em;
    margin-bottom: 1em;
  }
}
//PAGE : page_cons_methodo -----------------
div#page_cons_methodo{
  img{
    max-width: 80%;
    margin: 2rem auto;
  }
}
//PAGE : RESSOURCES -----------------
div#page_ressources{
  ul>li>ul>li{
    list-style-type: square;
  }
  .card-header {
    cursor: pointer;
  }
  
  .btn-link {
    text-decoration: none;
    color: $black;
    width: 100%;
    text-align: left;
    h5 {
      margin: 0;
      float: left;
      width: 95%;
    }
    span {
      width: 5%;
      text-align: right;
      transition: transform 0.3s ease;
      &::after{
        content: "+";
      }
      &.hide::after{
        content: "-";
      }
    }
  }
}
//PAGE : CONTACT -----------------
div#page_contact{
  form{
    padding: 2rem 0;
    label{
      font-size: 1.125rem;
      margin-top: 1.5rem;
    }
    input, textarea{
      border: none;
      border-radius: 0;
      padding: 0;
      border-bottom: 1px solid $dark_grey;
    }

    button[type="submit"]{
      margin-top: 2rem;
      border: none;
      border-radius: 0;
      padding: 0;
      border-bottom: 1px solid $dark_grey;
    }
  }
}

// FOOTER -----------------
footer {
  // padding: 20px;
  // position: fixed;
  bottom: 0;
  width: 100%;

  section{
    margin-bottom: 1rem;
    &:nth-child(1),&:nth-child(2){
      margin-top: 0;
      margin-bottom: 0;
      padding: 0;
    }
    
    a{
      text-decoration: none;
      color: $grey;
      font-size: 0.8rem;
    }
    
    img.logo{
      height: calc($logo_arep_footer_height);
    }
  
    .partner{
      height: $logo_partener_height;
      width: auto;

    }

    .image-empty-container{
      width: $logo_height;
      height: $logo_height;
    }

    .cm{
      height: calc($logo_partener_height - 1.5rem);
      margin-top: 1rem;
    }
    .thema{
      height: calc($logo_partener_height - 1.5rem);
      margin-top: 1rem;
    }
    .univ{
      height: calc($logo_partener_height - 1.5rem);
      margin-top: 1rem;
    }
    .sorbonne{
      height: calc($logo_partener_height - 0.5rem);
      // margin-top: 0.5rem;
    }

    .image-container {
      width: calc($logo_partener_height - 0.5rem);
      height: calc($logo_partener_height - 0.5rem);
      margin-right: 0.5rem;
      background-color: $couleur_logo;
      -webkit-mask: url('../images/footer/Ladyss-logo-white.webp') no-repeat center;
      -webkit-mask-size: contain;
      mask: url('../images/footer/Ladyss-logo-white.webp') no-repeat center;
      mask-size: contain;
    }
  }
}

@media (max-width: 990px) {
    nav {
      margin-top: calc($mobile-nav-marginTop + 0.5rem);
        div.container, li {
            border: none !important;
        }
        ul.dropdown-menu{
          margin-left: 2rem;
          &.show{
            margin-top: $mobile-dropdownMmenu-marginTop !important;
          }
        }
        
    }
    .empty-partner{
      display: none;
    }
  }
