//FONT-STYLE
$font-family: Lato, Arial, sans-serif;

//COLORS
$white: #ffffff;
$black: #000000;
$grey: #ccc;
$rouge: #D71B1B;
$jaune: #FDF392;
$bleu_foncee: #1B515D;
$rouge_foncee: #7B5348;
$vert_foncee: #5A7C6E;
$couleur_logo: #4db1a8;

//MESURES

$dropdownMmenu-marginTop: 1rem;
$logo_height: 6rem;
$mobile-dropdownMmenu-marginTop: -0.5rem;
$mobile-nav-marginTop: calc(-1 *($logo_height - 1rem ));



html {
  font-size: 16px; // Makes 1rem equal to 16px
}

body {
  font-family: $font-family;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: $white;
  color: $black;
  padding: 0;

  img.logo {
    height: $logo_height;
  }
}


nav {
  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;

    li.nav-item {
      margin: .5rem 0;
      border-left: 0.1rem $black solid;
      &:nth-child(1) {
        border-left: none;
      }

      a {
        text-decoration: none;
        font-weight: bold;
        margin: 0 2rem;
      }
      a:hover, a.active{
        text-decoration: underline;
        text-underline-offset: 0.25rem;
      }
    }
    a.dropdown-item{
      background-color: $white !important;
      width: 80%;
    }
    ul.dropdown-menu.show{
      margin-top: $dropdownMmenu-marginTop;
    }
  }
}

#main-content {
  // padding: 20px;
  min-height: 450px;
}

// FOR ALL PAGES -----------------
h1.title{
  text-transform: uppercase;
  font-weight: 700;
}
h1,h2,h3,h4{
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}
p, li{
  font-size: 1.5rem;
}
.bold {
  font-weight: bold;
}
.accueil-color_green{
  color: $vert_foncee;
}

a.text-link{
  color: $black;
  &:hover{
    font-weight: bold;
  }
}

//PAGE : ACCUEIL -----------------
div#page_accueil{
  img{
    max-width: 100%;
  }

  #frugacite-accronym, #frugacite-definition{
    cursor: default;
  }
  #frugacite-accronym{
    margin: 0 1px;
    span{
      margin: 0 -1px;
      &:hover{
        text-decoration: underline;
        text-underline-offset: 0.25rem;
      }
    }
  }
  #frugacite-definition{
    span:hover{
      text-decoration: underline;
      text-underline-offset: 0.25rem;
    }
  }
}

//PAGE : THESE -----------------
div#page_these{
  font-family: $font-family;
}

//PAGE : THESE -----------------
div#page_publication_donnees{
  font-family: $font-family;
  h1,h2,h3{
    margin-top: 2rem !important;

  }
}

//PAGE : CONTACT -----------------
div#page_contact{
  form{
    font-family: $font-family;
    padding: 2rem 0;
    label{
      margin-top: 1.5rem;
      font-size: 1.5em;
    }
    input, textarea{
      border: none;
      border-radius: 0;
      padding: 0;
      border-bottom: 1px solid $black;
      &:hover{
        border-bottom: 1px solid $couleur_logo;
      }
    }

    button[type="submit"]{
      margin-top: 2rem;
      border: none;
      border-radius: 0;
      padding: 0;
      border-bottom: 1px solid $black;
      &:hover{
        border-bottom: 1px solid $couleur_logo;
      }
    }
  }
}

// FOOTER -----------------
footer {
  // position: fixed;
  bottom: 0;
  width: 100%;

  section{
    margin-bottom: 3rem;
    
    a{
      text-decoration: none;
      color: $grey;
    }
    
    img.logo{
      height: calc($logo_height - 2rem);
    }
  
    .partner{
      height: $logo_height;
      width: auto;

    }
    .image-container {
      width: $logo_height;
      height: $logo_height;
      background-color: #4db1a8;
      -webkit-mask: url('../images/footer/Ladyss-logo-white.webp') no-repeat center;
      -webkit-mask-size: contain;
      mask: url('../images/footer/Ladyss-logo-white.webp') no-repeat center;
      mask-size: contain;
    }
  }
}

@media (max-width: 990px) {
    nav {
      margin-top: $mobile-nav-marginTop;
        div.container, li {
            border: none !important;
        }
        ul.dropdown-menu{
          margin-left: 2rem;
          &.show{
            margin-top: $mobile-dropdownMmenu-marginTop !important;
          }
        }
        
    }
  }