html {
  font-size: 16px;
}

body {
  font-family: Lato, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: #ffffff;
  color: #000000;
  padding: 0;
}
header img.logo {
  height: 6rem;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}
nav ul li.nav-item {
  margin: 0.5rem 0;
  border-left: 0.1rem #000000 solid;
}
nav ul li.nav-item:nth-child(1) {
  border-left: none;
}
nav ul li.nav-item a {
  text-decoration: none;
  font-weight: bold;
  margin: 0 2rem;
}
nav ul li.nav-item a:hover, nav ul li.nav-item a.active {
  text-decoration: underline;
  text-underline-offset: 0.25rem;
}
nav ul a.dropdown-item {
  background-color: #ffffff !important;
  width: 80%;
}
nav ul ul.dropdown-menu.show {
  margin-top: 1rem;
}

#main-content {
  padding: 20px;
  min-height: 450px;
}

h1.title {
  text-transform: uppercase;
  font-weight: 700;
}

h2 {
  margin: 1em 0;
}

p, li {
  font-size: 1.5rem;
}

.bold {
  font-weight: bold;
}

.accueil-color_green {
  color: #5A7C6E;
}

div#page_accueil img {
  max-width: 100%;
}
div#page_accueil #frugacite-accronym, div#page_accueil #frugacite-definition {
  cursor: default;
}
div#page_accueil #frugacite-accronym {
  margin: 0 1px;
}
div#page_accueil #frugacite-accronym span {
  margin: 0 -1px;
}
div#page_accueil #frugacite-accronym span:hover {
  text-decoration: underline;
  text-underline-offset: 0.25rem;
}
div#page_accueil #frugacite-definition span:hover {
  text-decoration: underline;
  text-underline-offset: 0.25rem;
}

div#page_these {
  font-family: Lato, Arial, sans-serif;
}
div#page_these h3 {
  font-weight: 500;
  margin: 1.5rem 0;
}

div#page_contact form {
  font-family: Lato, Arial, sans-serif;
  padding: 2rem 0;
}
div#page_contact form label {
  margin-top: 1.5rem;
  font-size: 1.5em;
}
div#page_contact form input, div#page_contact form textarea {
  border: none;
  border-radius: 0;
  padding: 0;
  border-bottom: 1px solid #000000;
}
div#page_contact form input:hover, div#page_contact form textarea:hover {
  border-bottom: 1px solid #4db1a8;
}
div#page_contact form button[type=submit] {
  margin-top: 2rem;
  border: none;
  border-radius: 0;
  padding: 0;
  border-bottom: 1px solid #000000;
}
div#page_contact form button[type=submit]:hover {
  border-bottom: 1px solid #4db1a8;
}

footer {
  bottom: 0;
  width: 100%;
}
footer section {
  margin-bottom: 3rem;
}
footer section a {
  text-decoration: none;
  color: #ccc;
}
footer section img.logo {
  height: 4rem;
}
footer section .partner {
  height: 6rem;
  width: auto;
}
footer section .image-container {
  width: 6rem;
  height: 6rem;
  background-color: #4db1a8;
  -webkit-mask: url("../images/footer/Ladyss-logo-white.webp") no-repeat center;
  -webkit-mask-size: contain;
  -webkit-mask: url("../images/footer/Ladyss-logo-white.webp") no-repeat center;
          mask: url("../images/footer/Ladyss-logo-white.webp") no-repeat center;
  mask-size: contain;
}

@media (max-width: 990px) {
  nav {
    margin-top: -5rem;
  }
  nav div.container, nav li {
    border: none !important;
  }
  nav ul.dropdown-menu {
    margin-left: 2rem;
  }
  nav ul.dropdown-menu.show {
    margin-top: -0.5rem !important;
  }
}